html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
  }

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}

header {
    background-color:white;
    width: 100%;
    height: 70px;
    padding: 3px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.header-left {
    float: right;     
}

.header-logo {
    width: 65px;
    height: 65px;
    float: left;
}

.header-right p {
    float: left;
    font-size: 30px;
    font-family: "Futura";
    color:gray;
    padding: 10px 20px;
    margin: auto 0;
}


.header-left li{
    float: right;
    padding: 20px 20px;
    color:gray;
}

.top-wrapper {
    margin: 100px 0;
    text-align: center;
}

.title {
    background-color: #02ccba;
    color:white;
    font-size: 72px;
    letter-spacing: 2px;
    font-family:"Futura";
}

.top-wrapper p{
    background-color: #02ccba;
    color:white;
    padding-bottom:10px;
}

.work {
    width: 50%;
    padding:50px 10px;
    margin-bottom: 10px;
    float: left;
}

.work-title {
    color:black;
    opacity: 0.8; 
    padding-bottom : 2px;
    padding-left:10px;
    border-bottom: 2px solid #02ccba;
}

.work p {
    color: gray;
    margin: 30px 10px;
    text-align: justify;
}


.work1  {
    height: 850px;
    margin-bottom:30px;
}
.work2  {
    height: 1300px;
    margin-bottom:30px;
}

.work3  {
    height: 1300px;
    margin-bottom:30px;
}

.work4 {
    height: 900px;
    margin-bottom:30px;
}


.image-left {
    width: 50%;
    float: left;
    
}
.image-right {
    width: 50%;
    float: left;
    padding-left: 2px;
}


.work-img {
    width: 100%;
    margin-top: 20px;
}


.movie {
    background-color: #02ccba;
    padding: 5px 10px;
    color:white;
    opacity: 0.8;
    transition: all 0.5s;
    border-radius: 2px;
    text-align: center;
    margin: 0 auto; 
    float: right;
    font-size:18px;
}

.movie:hover {
    opacity: 1;
}

.pavilion1 {
    height: 380px;
    object-fit: cover;
}


.kairo {
    height:380px;
    object-fit: cover;
}


.work7-img {
    height: 400px;
    object-fit: cover;
}

.clear {
    clear: left;
}

footer {
    width: 100%;
    background-color: gray;
    text-align: center;
    font-size: 28px;
    font-family: "Futura";
    color:white;
    opacity:0.8;
    padding: 60px 20px;
    
}

